Repository apecloud/kubeblocks-addons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @JashBook, @ahjing99, @shanshanying, @xuriwuyun, @ldming, @sophon-zt, @iziang, @free6om, @GreptimeTeam, @sh2, @caiq1nyu, @Chen-speculation, @yinmin, @fengluodb, @yabinji, @Xuntao_Cheng, @skyrise-l, @Powerfooi, @kubeJocker, @1aal, @Vettal_Wu, @RisingWave_Labs, @yandongxiao, @csuzhangxc, @cjc7373, @kizuna-lek, @ButterBright, @JesseAtSZ, @kissycn

.github/CODEOWNERS:

# GENERATED BY update-codeowners.sh, DO NOT EDIT!

* @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
.github/ @JashBook @ahjing99 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
examples/ @ahjing99 @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

# GitHub IDs in following rules are extracted from Chart.yaml files.
# Some IDs may be invalid or lack necessary permissions. Please ignore them.

addons/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

update
  addons-cluster/mongodb/values.schema.json
  addons/mongodb/templates/componentversion.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: auto generated files
  README.md
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: update mysql's full backup retentionPeriod
  addons/apecloud-mysql/templates/backuppolicytemplate.yaml
  addons/mysql/templates/backuppolicytemplate.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: auto generated files
  README.md
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

remove hscale yaml
  examples/apecloud-mysql/horizontalscale.yaml
  examples/kafka/horizontalscale.yaml
  examples/mogdb/README.md
  examples/redis/horizontalscale.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

revert changes to pdbx
  addons/polardbx/templates/cmpd-gms.yaml
Owners: @Vettal_Wu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

patroni's policy rules
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
Owners: @ldming, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

feat: add mongodb new versions (#1431)
  README.md
  addons-cluster/mongodb/values.schema.json
  addons/mongodb/templates/componentversion.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun

feat: add mongodb new versions (#1431)
  README.md
  addons-cluster/mongodb/values.schema.json
  addons/mongodb/templates/componentversion.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun

feat: add mongodb new versions (#1431)
  README.md
  addons-cluster/mongodb-cluster/values.schema.json
  addons/mongodb/templates/componentversion.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun

fix: [pulsar] the order of bkrecovery component is incorrectly (#1387)
  addons/pulsar/templates/clusterdefinition.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

more intuitive updatePriority
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/etcd/templates/cmpd.yaml
  addons/minio/templates/cmpd.yaml
  addons/mogdb/templates/cmpd.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
  addons/redis/templates/cmpd-redis-7.yaml
  addons/redis/templates/cmpd-redis-cluster-7.yaml
  addons/tidb/templates/componentdefinition-pd.yaml
  addons/vanilla-postgresql/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @free6om, @fengluodb, @yabinji, @shanshanying, @kubeJocker, @Vettal_Wu, @csuzhangxc, @cjc7373, @kizuna-lek, @kissycn

chore: support mysql orc semi sync
  addons/mysql/config/mysql8.0-config.tpl
  addons/mysql/scripts/init-mysql-instance-for-orc.sh
  addons/mysql/templates/_helpers.tpl
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: refactor roles (#1428)
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/etcd/templates/cmpd.yaml
  addons/minio/templates/cmpd.yaml
  addons/mogdb/templates/cmpd.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
  addons/redis/templates/cmpd-redis-7.yaml
  addons/redis/templates/cmpd-redis-cluster-7.yaml
  addons/tidb/templates/componentdefinition-pd.yaml
  addons/vanilla-postgresql/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @free6om, @fengluodb, @yabinji, @shanshanying, @kubeJocker, @Vettal_Wu, @csuzhangxc, @cjc7373, @kizuna-lek, @kissycn

chore: support mysql orc semi sync
  addons/mysql/templates/_helpers.tpl
  addons/mysql/templates/cmpd-mysql57-orc.yaml
  addons/mysql/templates/cmpd-mysql80-orc.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: support mysql orc semi sync
  addons/mysql/templates/switchover.yaml
  addons/orchestrator/configs/orchestrator.tpl
  examples/mysql/switchover-orc.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker, @ahjing99, @shanshanying

chore: support mysql orc semi sync
  addons/mysql/templates/cpmv-proxysql.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update pdbx examples and cmpd
  addons-cluster/polardbx/templates/_helpers.tpl
  addons-cluster/polardbx/templates/cluster.yaml
  addons-cluster/polardbx/values.yaml
  addons/polardbx/dashboards/polardbx-overview.json
  addons/polardbx/scripts/metadb-setup.tpl
  addons/polardbx/templates/cmpd-cdc.yaml
  addons/polardbx/templates/cmpd-cn.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  examples/polardbx/README.md
  examples/polardbx/cluster-with-schedule-policy.yaml
  examples/polardbx/cluster.yaml
  examples/polardbx/pod-monitor.yaml
  examples/polardbx/restart.yaml
  examples/polardbx/scale-in.yaml
  examples/polardbx/scale-out.yaml
  examples/polardbx/start.yaml
  examples/polardbx/stop.yaml
  examples/polardbx/verticalscale.yaml
  examples/polardbx/volumeexpand.yaml
Owners: @Vettal_Wu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

fix: add missing policyrules for rabbitmq and mogdb
  addons/mogdb/templates/cmpd.yaml
  addons/rabbitmq/templates/componentdefinition.yaml
  examples/mogdb/cluster.yaml
  examples/mogdb/switchover.yaml
  examples/rabbitmq/cluster.yaml
Owners: @yabinji, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun, @ahjing99

chore: update pdbx examples and cmpd (#1433)
  addons-cluster/polardbx/templates/_helpers.tpl
  addons-cluster/polardbx/templates/cluster.yaml
  addons-cluster/polardbx/values.yaml
  addons/polardbx/dashboards/polardbx-overview.json
  addons/polardbx/scripts/metadb-setup.tpl
  addons/polardbx/templates/cmpd-cdc.yaml
  addons/polardbx/templates/cmpd-cn.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  examples/polardbx/README.md
  examples/polardbx/cluster-with-schedule-policy.yaml
  examples/polardbx/cluster.yaml
  examples/polardbx/pod-monitor.yaml
  examples/polardbx/restart.yaml
  examples/polardbx/scale-in.yaml
  examples/polardbx/scale-out.yaml
  examples/polardbx/start.yaml
  examples/polardbx/stop.yaml
  examples/polardbx/verticalscale.yaml
  examples/polardbx/volumeexpand.yaml
Owners: @Vettal_Wu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

chore: update pdbx examples and cmpd (#1433)
  addons-cluster/polardbx/templates/_helpers.tpl
  addons-cluster/polardbx/templates/cluster.yaml
  addons-cluster/polardbx/values.yaml
  addons/polardbx/dashboards/polardbx-overview.json
  addons/polardbx/scripts/metadb-setup.tpl
  addons/polardbx/templates/cmpd-cdc.yaml
  addons/polardbx/templates/cmpd-cn.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  examples/polardbx/README.md
  examples/polardbx/cluster-with-schedule-policy.yaml
  examples/polardbx/cluster.yaml
  examples/polardbx/pod-monitor.yaml
  examples/polardbx/restart.yaml
  examples/polardbx/scale-in.yaml
  examples/polardbx/scale-out.yaml
  examples/polardbx/start.yaml
  examples/polardbx/stop.yaml
  examples/polardbx/verticalscale.yaml
  examples/polardbx/volumeexpand.yaml
Owners: @Vettal_Wu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

chore: update system account statements
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/mysql/templates/_helpers.tpl
  addons/orioledb/templates/cmpd.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @1aal

chore: remove helm rbac (#1366)
  addons-cluster/apecloud-mysql/values.yaml
  addons-cluster/mongodb/values.yaml
  addons-cluster/mysql/values.yaml
  addons-cluster/rabbitmq/values.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: support tidb 8.4 (#1384)
  README.md
  addons-cluster/tidb/templates/cluster.yaml
  addons-cluster/tidb/values.yaml
  addons/tidb/dataprotection/backup.sh
  addons/tidb/dataprotection/restore.sh
  addons/tidb/scripts/pd_start.sh
  addons/tidb/templates/actionset.yaml
  addons/tidb/templates/backuppolicytemplate.yaml
  addons/tidb/templates/componentdefinition-pd.yaml
  addons/tidb/templates/componentdefinition-tidb.yaml
  addons/tidb/templates/componentdefinition-tikv.yaml
  addons/tidb/templates/componentversion.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @csuzhangxc, @cjc7373

chore: refactor roles (#1428)
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/etcd/templates/cmpd.yaml
  addons/minio/templates/cmpd.yaml
  addons/mogdb/templates/cmpd.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
  addons/redis/templates/cmpd-redis-7.yaml
  addons/redis/templates/cmpd-redis-cluster-7.yaml
  addons/tidb/templates/componentdefinition-pd.yaml
  addons/vanilla-postgresql/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @free6om, @fengluodb, @yabinji, @shanshanying, @kubeJocker, @Vettal_Wu, @csuzhangxc, @cjc7373, @kizuna-lek, @kissycn

chore: update system account statements (#1435)
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/mysql/templates/_helpers.tpl
  addons/orioledb/templates/cmpd.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @1aal

chore: update system account statements (#1435)
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/mysql/templates/_helpers.tpl
  addons/orioledb/templates/cmpd.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @1aal

fix: make kafka support headless svc/pod ip/nodeport network types
  addons-cluster/kafka/templates/_helpers.tpl
  addons-cluster/kafka/templates/cluster.yaml
  addons-cluster/kafka/values.schema.json
  addons-cluster/kafka/values.yaml
  addons/kafka/templates/clusterdefinition.yaml
  examples/kafka/cluster-combined.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

fix: topolocy order change
  addons/kafka/templates/clusterdefinition.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: make kafka support headless svc/pod ip/nodeport network types (#1436)
  addons-cluster/kafka/templates/_helpers.tpl
  addons-cluster/kafka/templates/cluster.yaml
  addons-cluster/kafka/values.schema.json
  addons-cluster/kafka/values.yaml
  addons/kafka/templates/clusterdefinition.yaml
  examples/kafka/cluster-combined.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

fix: make kafka support headless svc/pod ip/nodeport network types (#1436)
  addons-cluster/kafka/templates/_helpers.tpl
  addons-cluster/kafka/templates/cluster.yaml
  addons-cluster/kafka/values.schema.json
  addons-cluster/kafka/values.yaml
  addons/kafka/templates/clusterdefinition.yaml
  examples/kafka/cluster-combined.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

chore: update mysql's full backup retentionPeriod (#1430)
  addons/apecloud-mysql/templates/backuppolicytemplate.yaml
  addons/mysql/templates/backuppolicytemplate.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: no syncer policy rules
  addons/apecloud-mysql/Chart.yaml
  addons/apecloud-mysql/templates/cmpd-apecloudmysql.yaml
  addons/apecloud-postgresql/Chart.yaml
  addons/apecloud-postgresql/templates/cmpd-apepg.yaml
  addons/kblib/templates/_common.tpl
  addons/mongodb/Chart.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/Chart.yaml
  addons/mysql/templates/cmpd-mysql57-orc.yaml
  addons/mysql/templates/cmpd-mysql57.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql80-orc.yaml
  addons/mysql/templates/cmpd-mysql80.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/cmpd-mysql84.yaml
  addons/vanilla-postgresql/templates/cmpd-12.yaml
  addons/vanilla-postgresql/templates/cmpd-14.yaml
  addons/vanilla-postgresql/templates/cmpd-15.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @kizuna-lek

fix bug
  addons/kblib/templates/_common.tpl
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix comments
  addons/apecloud-mysql/templates/cmpd-apecloudmysql.yaml
  addons/apecloud-postgresql/templates/cmpd-apepg.yaml
  addons/kblib/templates/_common.tpl
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/templates/cmpd-mysql57-orc.yaml
  addons/mysql/templates/cmpd-mysql57.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql80-orc.yaml
  addons/mysql/templates/cmpd-mysql80.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/cmpd-mysql84.yaml
  addons/vanilla-postgresql/templates/cmpd-12.yaml
  addons/vanilla-postgresql/templates/cmpd-14.yaml
  addons/vanilla-postgresql/templates/cmpd-15.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @kizuna-lek

fix: no syncer policy rules (#1438)
  addons/apecloud-mysql/Chart.yaml
  addons/apecloud-mysql/templates/cmpd-apecloudmysql.yaml
  addons/apecloud-postgresql/Chart.yaml
  addons/apecloud-postgresql/templates/cmpd-apepg.yaml
  addons/kblib/templates/_common.tpl
  addons/mongodb/Chart.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/Chart.yaml
  addons/mysql/templates/cmpd-mysql57-orc.yaml
  addons/mysql/templates/cmpd-mysql57.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql80-orc.yaml
  addons/mysql/templates/cmpd-mysql80.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/cmpd-mysql84.yaml
  addons/vanilla-postgresql/templates/cmpd-12.yaml
  addons/vanilla-postgresql/templates/cmpd-14.yaml
  addons/vanilla-postgresql/templates/cmpd-15.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @kizuna-lek

fix: no syncer policy rules (#1438)
  addons/apecloud-mysql/Chart.yaml
  addons/apecloud-mysql/templates/cmpd-apecloudmysql.yaml
  addons/apecloud-postgresql/Chart.yaml
  addons/apecloud-postgresql/templates/cmpd-apepg.yaml
  addons/kblib/templates/_common.tpl
  addons/mongodb/Chart.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/Chart.yaml
  addons/mysql/templates/cmpd-mysql57-orc.yaml
  addons/mysql/templates/cmpd-mysql57.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql80-orc.yaml
  addons/mysql/templates/cmpd-mysql80.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/cmpd-mysql84.yaml
  addons/vanilla-postgresql/templates/cmpd-12.yaml
  addons/vanilla-postgresql/templates/cmpd-14.yaml
  addons/vanilla-postgresql/templates/cmpd-15.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @kizuna-lek

chore: temp save
  addons/orioledb/scripts/generate_patroni_yaml.py
  addons/orioledb/scripts/postgres-setup.sh
  addons/orioledb/scripts/temp.yaml
  addons/orioledb/templates/cmpd.yaml
Owners: @1aal, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: temp save
  .gitignore
  addons/orioledb-syncer/.helmignore
  addons/orioledb-syncer/Chart.yaml
  addons/orioledb-syncer/config/orioledb-config-constraint.cue
  addons/orioledb-syncer/config/orioledb-config-effect-scope.yaml
  addons/orioledb-syncer/config/orioledb-config.tpl
  addons/orioledb-syncer/config/patroni-parameter.yaml
  addons/orioledb-syncer/config/patroni-reload.tpl
  addons/orioledb-syncer/config/patroni-yaml.tpl
  addons/orioledb-syncer/config/pgbouncer-ini.tpl
  addons/orioledb-syncer/config/restart-parameter.yaml
  addons/orioledb-syncer/scripts/generate_patroni_yaml.py
  addons/orioledb-syncer/scripts/pgbouncer-setup.sh
  addons/orioledb-syncer/scripts/postgres-pre-setup.sh
  addons/orioledb-syncer/scripts/postgres-setup.sh
  addons/orioledb-syncer/scripts/restart-parameter.yaml
  addons/orioledb-syncer/scripts/switchover.sh
  addons/orioledb-syncer/templates/_helpers.tpl
  addons/orioledb-syncer/templates/agamotto-configuration-template.yaml
  addons/orioledb-syncer/templates/clusterdefinition.yaml
  addons/orioledb-syncer/templates/cmpd.yaml
  addons/orioledb-syncer/templates/cmpv.yaml
  addons/orioledb-syncer/templates/configconstraint.yaml
  addons/orioledb-syncer/templates/metrics-configuration-template.yaml
  addons/orioledb-syncer/templates/orioledb-configuration-template.yaml
  addons/orioledb-syncer/templates/orioledb-scripts-template.yaml
  addons/orioledb-syncer/templates/patroni-reload-script-template.yaml
  addons/orioledb-syncer/templates/pgbouncer-configuration-template.yaml
  addons/orioledb-syncer/values.yaml
  pg_hba.conf
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: mysql account provision failed
  addons/mysql/templates/cpmv.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers
