Repository apecloud/kubeblocks-addons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @JashBook, @ahjing99, @shanshanying, @xuriwuyun, @ldming, @sophon-zt, @iziang, @free6om, @GreptimeTeam, @sh2, @caiq1nyu, @Chen-speculation, @yinmin, @fengluodb, @yabinji, @Xuntao_Cheng, @skyrise-l, @Powerfooi, @kubeJocker, @1aal, @Vettal_Wu, @RisingWave_Labs, @yandongxiao, @csuzhangxc, @cjc7373, @kizuna-lek, @ButterBright, @JesseAtSZ, @kissycn

chore: temp save
  addons-cluster/orioledb/templates/_helpers.tpl
  addons-cluster/orioledb/templates/etcd-service-descriptor-example.yaml
  addons-cluster/orioledb/values.yaml
  addons/orioledb-syncer/Chart.yaml
  addons/orioledb-syncer/config/orioledb-config.tpl
  addons/orioledb-syncer/config/patroni-parameter.yaml
  addons/orioledb-syncer/config/patroni-reload.tpl
  addons/orioledb-syncer/config/patroni-yaml.tpl
  addons/orioledb-syncer/config/pg16-config-constraint.cue
  addons/orioledb-syncer/config/pg16-config-effect-scope.yaml
  addons/orioledb-syncer/config/pg16-config.tpl
  addons/orioledb-syncer/config/pgbouncer-ini.tpl
  addons/orioledb-syncer/config/restart-parameter.yaml
  addons/orioledb-syncer/reloader/update-parameter.sh
  addons/orioledb-syncer/scripts-ut-spec/update_parameter_spec.sh
  addons/orioledb-syncer/scripts/generate_patroni_yaml.py
  addons/orioledb-syncer/scripts/pgbouncer-setup.sh
  addons/orioledb-syncer/scripts/postgres-pre-setup.sh
  addons/orioledb-syncer/scripts/postgres-setup.sh
  addons/orioledb-syncer/scripts/restart-parameter.yaml
  addons/orioledb-syncer/scripts/setup.sh
  addons/orioledb-syncer/scripts/switchover.sh
  addons/orioledb-syncer/templates/_helpers.tpl
  addons/orioledb-syncer/templates/agamotto-configuration-template.yaml
  addons/orioledb-syncer/templates/clusterdefinition.yaml
  addons/orioledb-syncer/templates/cmpd.yaml
  addons/orioledb-syncer/templates/cmpv.yaml
  addons/orioledb-syncer/templates/configconstraint.yaml
  addons/orioledb-syncer/templates/configmap.yaml
  addons/orioledb-syncer/templates/metrics-configuration-template.yaml
  addons/orioledb-syncer/templates/orioledb-scripts-template.yaml
  addons/orioledb-syncer/templates/patroni-reload-script-template.yaml
  addons/orioledb-syncer/templates/pgbouncer-configuration-template.yaml
  addons/orioledb-syncer/templates/scripts.yaml
  addons/orioledb-syncer/values.yaml
Owners: @1aal, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: add delete cm role for syncer
  addons/kblib/templates/_common.tpl
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: add missing policyrules for rabbitmq and mogdb (#1434)
  addons/mogdb/templates/cmpd.yaml
  addons/rabbitmq/templates/componentdefinition.yaml
  examples/mogdb/cluster.yaml
  examples/mogdb/switchover.yaml
  examples/rabbitmq/cluster.yaml
Owners: @yabinji, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun, @ahjing99

fix: add missing policyrules for rabbitmq and mogdb (#1434)
  addons/mogdb/templates/cmpd.yaml
  addons/rabbitmq/templates/componentdefinition.yaml
  examples/mogdb/cluster.yaml
  examples/mogdb/switchover.yaml
  examples/rabbitmq/cluster.yaml
Owners: @yabinji, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun, @ahjing99

fix: mysql account provision failed (#1441)
  addons/mysql/templates/cpmv.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: mysql account provision failed (#1441)
  addons/mysql/templates/cpmv.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: add doc to deploy plg stack and update podMonitor
  addons/mysql/dashboards/mysql.json
  examples/apecloud-mysql/pod-monitor.yaml
  examples/clickhouse/pod-monitor.yaml
  examples/docs/install-plg-stack.md
  examples/etcd/pod-monitor.yaml
  examples/mysql/pod-monitor.yaml
  examples/oceanbase/pod-monitor.yaml
  examples/postgresql/pod-monitor.yaml
  examples/qdrant/pod-monitor.yaml
  examples/rabbitmq/pod-monitor.yaml
  examples/redis/pod-monitor.yaml
  examples/zookeeper/pod-monitor.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

chore: add delete cm role for syncer (#1442)
  addons/kblib/templates/_common.tpl
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: add delete cm role for syncer (#1442)
  addons/kblib/templates/_common.tpl
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: temp save
  addons/orioledb-syncer/config/pg16-config.tpl
  addons/orioledb-syncer/templates/_helpers.tpl
  addons/orioledb-syncer/values.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

.github/CODEOWNERS:

# GENERATED BY update-codeowners.sh, DO NOT EDIT!

* @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
.github/ @JashBook @ahjing99 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
examples/ @ahjing99 @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

# GitHub IDs in following rules are extracted from Chart.yaml files.
# Some IDs may be invalid or lack necessary permissions. Please ignore them.

addons/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
