Repository apecloud/kubeblocks-addons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @JashBook, @ahjing99, @shanshanying, @xuriwuyun, @ldming, @sophon-zt, @iziang, @free6om, @GreptimeTeam, @sh2, @caiq1nyu, @Chen-speculation, @yinmin, @fengluodb, @yabinji, @Xuntao_Cheng, @skyrise-l, @Powerfooi, @kubeJocker, @1aal, @Vettal_Wu, @RisingWave_Labs, @yandongxiao, @csuzhangxc, @cjc7373, @kizuna-lek, @ButterBright, @JesseAtSZ, @kissycn

update
  addons-cluster/mysql/templates/_helpers.tpl
  addons-cluster/mysql/values.schema.json
  addons-cluster/mysql/values.yaml
  addons/mysql/config/mysql-group-replication.tpl
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot-log mount error
  addons-cluster/zookeeper/templates/cluster.yaml
  addons/zookeeper/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot-log mount error
  addons-cluster/zookeeper-cluster/templates/cluster.yaml
  addons/zookeeper/templates/cmpd.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker, @kissycn

fix: zookeeper snapshot-log mount error
  addons/zookeeper/config/log4j.properties
  addons/zookeeper/config/zookeeper-config.tpl
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot-log mount error
  addons/zookeeper/config/zookeeper-config.tpl
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot-log mount error
  addons/zookeeper/config/log4j.properties
  addons/zookeeper/config/zookeeper-config.tpl
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot-log mount error
  addons/zookeeper/config/zookeeper-config.tpl
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: refactor roles
  addons/apecloud-mysql/templates/_helpers.tpl
  addons/apecloud-postgresql/templates/_helpers.tpl
  addons/etcd/templates/cmpd.yaml
  addons/minio/templates/cmpd.yaml
  addons/mogdb/templates/cmpd.yaml
  addons/mongodb/templates/componentdefinition.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/polardbx/templates/cmpd-dn.yaml
  addons/polardbx/templates/cmpd-gms.yaml
  addons/postgresql/templates/componentdefinition-12.yaml
  addons/postgresql/templates/componentdefinition-14.yaml
  addons/postgresql/templates/componentdefinition-15.yaml
  addons/postgresql/templates/componentdefinition-16.yaml
  addons/redis/templates/cmpd-redis-7.yaml
  addons/redis/templates/cmpd-redis-cluster-7.yaml
  addons/tidb/templates/componentdefinition-pd.yaml
  addons/vanilla-postgresql/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ldming, @free6om, @fengluodb, @yabinji, @shanshanying, @kubeJocker, @Vettal_Wu, @csuzhangxc, @cjc7373, @kizuna-lek, @kissycn

fix: zookeeper snapshot-log mount error release-0.9 (#1426)
  addons-cluster/zookeeper-cluster/templates/cluster.yaml
  addons/zookeeper/config/log4j.properties
  addons/zookeeper/config/zookeeper-config.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker, @kissycn

fix: zookeeper snapshot log mount error (#1427)
  addons-cluster/zookeeper/templates/cluster.yaml
  addons/zookeeper/config/log4j.properties
  addons/zookeeper/config/zookeeper-config.tpl
  addons/zookeeper/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

fix: zookeeper snapshot log mount error (#1427)
  addons-cluster/zookeeper/templates/cluster.yaml
  addons/zookeeper/config/log4j.properties
  addons/zookeeper/config/zookeeper-config.tpl
  addons/zookeeper/templates/_helpers.tpl
  addons/zookeeper/templates/cmpd.yaml
Owners: @kubeJocker, @kissycn, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: dynamically generate orc password (#1424)
  addons-cluster/mysql/templates/cluster.yaml
  addons-cluster/orchestrator/templates/_helpers.tpl
  addons-cluster/orchestrator/templates/cluster.yaml
  addons-cluster/orchestrator/values.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/scripts/init-meta-database.sh
  addons/orchestrator/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/orchestrator/templates/cmpd-shareend.yaml
  addons/orchestrator/values.yaml
  examples/mysql/cluster-orc-proxysql.yaml
  examples/mysql/cluster-orc.yaml
  examples/mysql/orchestrator.yaml
  examples/orchestrator/cluster-raft.yaml
  examples/orchestrator/cluster-shareend.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker, @ahjing99, @shanshanying

chore: dynamically generate orc password (#1424)
  addons-cluster/mysql/templates/cluster.yaml
  addons-cluster/orchestrator/templates/_helpers.tpl
  addons-cluster/orchestrator/templates/cluster.yaml
  addons-cluster/orchestrator/values.yaml
  addons/mysql/templates/_helpers.tpl
  addons/orchestrator/scripts/init-meta-database.sh
  addons/orchestrator/templates/_helpers.tpl
  addons/orchestrator/templates/cmpd-raft.yaml
  addons/orchestrator/templates/cmpd-shareend.yaml
  addons/orchestrator/values.yaml
  examples/mysql/cluster-orc-proxysql.yaml
  examples/mysql/cluster-orc.yaml
  examples/mysql/orchestrator.yaml
  examples/orchestrator/cluster-raft.yaml
  examples/orchestrator/cluster-shareend.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker, @ahjing99, @shanshanying

update pulsar ops
  examples/pulsar/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update pdbx
  examples/polardbx/README.md
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

remove ggml examples
  examples/ggml/README.md
  examples/ggml/cluster.yaml
  examples/ggml/restart.yaml
  examples/ggml/start.yaml
  examples/ggml/stop.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update weaviate
  addons/weaviate/templates/cmpd.yaml
  examples/minio/README.md
  examples/minio/cluster.yaml
  examples/minio/restart.yaml
  examples/minio/scale-in.yaml
  examples/minio/scale-out.yaml
  examples/minio/stop.yaml
  examples/weaviate/README.md
  examples/weaviate/cluster-cmpd.yaml
  examples/weaviate/cluster.yaml
  examples/weaviate/configure.yaml
  examples/weaviate/horizontalscale.yaml
  examples/weaviate/restart.yaml
  examples/weaviate/start.yaml
  examples/weaviate/stop.yaml
  examples/weaviate/verticalscale.yaml
  examples/weaviate/volumeexpand.yaml
Owners: @iziang, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

rename pg scale-in file name
  examples/postgresql/scale-in.yml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update mysql vtable ops
  examples/apecloud-mysql/configure-vttablet.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update mogdb
  examples/mogdb/README.md
  examples/mogdb/backup.yaml
  examples/mogdb/backuprepo.yaml
  examples/mogdb/cluster.yaml
  examples/mogdb/configure.yaml
  examples/mogdb/expose-disable.yaml
  examples/mogdb/expose-enable.yaml
  examples/mogdb/restart.yaml
  examples/mogdb/restore.yaml
  examples/mogdb/scale-in.yaml
  examples/mogdb/scale-out.yaml
  examples/mogdb/start.yaml
  examples/mogdb/stop.yaml
  examples/mogdb/switchover.yaml
  examples/mogdb/verticalscale.yaml
  examples/mogdb/volumeexpand.yaml
  examples/postgresql/scale-in.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update influxdb mariadb cluster charts
  addons-cluster/influxdb/templates/_helpers.tpl
  addons-cluster/influxdb/values.schema.json
  addons-cluster/influxdb/values.yaml
  addons-cluster/mariadb/templates/_helpers.tpl
  addons-cluster/mariadb/values.schema.json
  addons-cluster/mariadb/values.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @yinmin

chore: update exampels for minio
  addons/polardbx/templates/cmpd-gms.yaml
  examples/greptimedb/README.md
  examples/minio/README.md
  examples/minio/cluster.yaml
  examples/minio/restart.yaml
  examples/minio/scale-in.yaml
  examples/minio/scale-out.yaml
  examples/minio/start.yaml
  examples/minio/stop.yaml
  examples/minio/verticalscale.yaml
  examples/minio/volumeexpand.yaml
  examples/polardbx/README.md
  examples/polardbx/cluster-with-schedule-policy.yaml
  examples/polardbx/cluster.yaml
  examples/polardbx/restart.yaml
  examples/polardbx/scale-in.yaml
  examples/polardbx/scale-out.yaml
  examples/polardbx/start.yaml
  examples/polardbx/stop.yaml
  examples/polardbx/verticalscale.yaml
  examples/polardbx/volumeexpand.yaml
Owners: @Vettal_Wu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

chore: add examples for greptimedb
  addons/greptimedb/templates/cmpd-frontend.yaml
  addons/greptimedb/templates/cmpd-meta.yaml
  examples/greptimedb/README.md
  examples/greptimedb/cluster.yaml
  examples/greptimedb/restart.yaml
  examples/greptimedb/scale-in.yaml
  examples/greptimedb/scale-out.yaml
  examples/greptimedb/start.yaml
  examples/greptimedb/stop.yaml
  examples/greptimedb/verticalscale.yaml
  examples/greptimedb/volumeexpand.yaml
Owners: @GreptimeTeam, @sh2, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

update opensearch
  addons/opensearch/templates/_helpers.tpl
  examples/opensearch/README.md
  examples/opensearch/cluster.yaml
  examples/opensearch/restart.yaml
  examples/opensearch/scale-in.yaml
  examples/opensearch/scale-out.yaml
  examples/opensearch/start.yaml
  examples/opensearch/stop.yaml
  examples/opensearch/verticalscale.yaml
  examples/opensearch/volumeexpand.yaml
Owners: @iziang, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @ahjing99, @shanshanying

update mariadb
  examples/mariadb/README.md
  examples/mariadb/cluster.yaml
  examples/mariadb/horizontalscale.yaml
  examples/mariadb/restart.yaml
  examples/mariadb/start.yaml
  examples/mariadb/stop.yaml
  examples/mariadb/verticalscale.yaml
  examples/mariadb/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update nebula
  examples/nebula/README.md
  examples/nebula/cluster.yaml
  examples/nebula/restart.yaml
  examples/nebula/scale-in.yaml
  examples/nebula/scale-out.yaml
  examples/nebula/start.yaml
  examples/nebula/stop.yaml
  examples/nebula/verticalscale.yaml
  examples/nebula/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update influxdb
  examples/influxdb/README.md
  examples/influxdb/cluster.yaml
  examples/influxdb/restart.yaml
  examples/influxdb/start.yaml
  examples/influxdb/stop.yaml
  examples/influxdb/verticalscale.yaml
  examples/influxdb/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update orchestorator
  examples/orchestrator/README.md
  examples/orchestrator/cluster-raft.yaml
  examples/orchestrator/cluster-shareend.yaml
  examples/orchestrator/restart.yaml
  examples/orchestrator/scale-in.yaml
  examples/orchestrator/scale-out.yaml
  examples/orchestrator/start.yaml
  examples/orchestrator/stop.yaml
  examples/orchestrator/verticalscale.yaml
  examples/orchestrator/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update tidb
  examples/oceanbase/pod-monitor.yaml
  examples/tidb/README.md
  examples/tidb/cluster.yaml
  examples/tidb/pod-monitor.yaml
  examples/tidb/restart.yaml
  examples/tidb/scale-in.yaml
  examples/tidb/scale-out.yaml
  examples/tidb/start.yaml
  examples/tidb/stop.yaml
  examples/tidb/verticalscale.yaml
  examples/tidb/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

update yashandb
  examples/yashandb/README.md
  examples/yashandb/cluster.yaml
  examples/yashandb/restart.yaml
  examples/yashandb/start.yaml
  examples/yashandb/stop.yaml
  examples/yashandb/verticalscale.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: support mysql orc semi sync
  addons/mysql/scripts/init-mysql-instance-for-orc.sh
  addons/mysql/scripts/mysql-entrypoint.sh
  addons/mysql/scripts/mysql-orchestrator-register.sh
  addons/mysql/templates/_helpers.tpl
  addons/mysql/templates/cpmv-proxysql.yaml
  addons/orchestrator/configs/orchestrator.tpl
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @kubeJocker

update tdengine
  examples/tdengine/README.md
  examples/tdengine/cluster.yaml
  examples/tdengine/restart.yaml
  examples/tdengine/scale-out.yaml
  examples/tdengine/start.yaml
  examples/tdengine/stop.yaml
  examples/tdengine/verticalscale.yaml
  examples/tdengine/volumeexpand.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

feat: add new mongodb versions
  addons/mongodb/templates/componentversion.yaml
Owners: @xuriwuyun, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

chore: auto generated files
  README.md
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

feat: custom security context for kafka addon (#1337)
  addons/kafka/templates/cmpd-broker-27.yaml
  addons/kafka/templates/cmpd-broker.yaml
  addons/kafka/templates/cmpd-combine.yaml
  addons/kafka/templates/cmpd-controller.yaml
  addons/kafka/templates/cmpd-exporter.yaml
  addons/kafka/values.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

feat: custom security context for kafka addon (#1337)
  addons/kafka/templates/cmpd-broker-27.yaml
  addons/kafka/templates/cmpd-broker.yaml
  addons/kafka/templates/cmpd-combine.yaml
  addons/kafka/templates/cmpd-controller.yaml
  addons/kafka/templates/cmpd-exporter.yaml
  addons/kafka/values.yaml
Owners: @caiq1nyu, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

add examples
  examples/mysql/cluster-mgr.yaml
Owners: @ahjing99, @shanshanying, @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

feat: mysql group replication (#1409)
  README.md
  addons-cluster/mysql/templates/_helpers.tpl
  addons-cluster/mysql/values.schema.json
  addons-cluster/mysql/values.yaml
  addons/mysql/config/mysql-group-replication.tpl
  addons/mysql/config/mysql5.7-config.tpl
  addons/mysql/config/mysql8.0-config.tpl
  addons/mysql/templates/_helpers.tpl
  addons/mysql/templates/_names.tpl
  addons/mysql/templates/clusterdefinition.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/config-templates.yaml
  addons/mysql/templates/cpmv-mgr.yaml
  addons/mysql/values.yaml
  examples/mysql/cluster-mgr.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun, @ahjing99, @shanshanying

feat: mysql group replication (#1409)
  README.md
  addons-cluster/mysql/templates/_helpers.tpl
  addons-cluster/mysql/values.schema.json
  addons-cluster/mysql/values.yaml
  addons/mysql/config/mysql-group-replication.tpl
  addons/mysql/config/mysql5.7-config.tpl
  addons/mysql/config/mysql8.0-config.tpl
  addons/mysql/templates/_helpers.tpl
  addons/mysql/templates/_names.tpl
  addons/mysql/templates/clusterdefinition.yaml
  addons/mysql/templates/cmpd-mysql80-mgr.yaml
  addons/mysql/templates/cmpd-mysql84-mgr.yaml
  addons/mysql/templates/config-templates.yaml
  addons/mysql/templates/cpmv-mgr.yaml
  addons/mysql/values.yaml
  examples/mysql/cluster-mgr.yaml
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers, @xuriwuyun, @ahjing99, @shanshanying

chore: auto update readme
  README.md
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @apecloud/kb-addon-reviewers

.github/CODEOWNERS:

# GENERATED BY update-codeowners.sh, DO NOT EDIT!

* @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
.github/ @JashBook @ahjing99 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
examples/ @ahjing99 @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

# GitHub IDs in following rules are extracted from Chart.yaml files.
# Some IDs may be invalid or lack necessary permissions. Please ignore them.

addons/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/apecloud-postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/clickhouse/ @sophon-zt @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/elasticsearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/etcd/ @free6om @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/greptimedb/ @GreptimeTeam @sh2 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/influxdb/  @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/kafka/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/loki/ @Chen-speculation @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mariadb/ @yinmin @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/milvus/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/minio/ @fengluodb @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mogdb/ @yabinji @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mongodb/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/mysql/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/nebula/ @shanshanying @Xuntao_Cheng @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/neon/ @skyrise-l @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/oceanbase-ce/ @Powerfooi @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/opensearch/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orchestrator/ @kubeJocker @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/orioledb/ @1aal @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/polardbx/ @Vettal_Wu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/postgresql/ @ldming @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/pulsar/ @caiq1nyu @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/qdrant/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/rabbitmq/ @xuriwuyun @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/redis/ @Y-Rookie @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/risingwave/ @RisingWave_Labs @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/starrocks-ce/ @yandongxiao @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tdengine/ @leon-inf @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/tidb/ @csuzhangxc @cjc7373 @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/vanilla-postgresql/ @kizuna-lek @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/victoria-metrics/ @sophon-zt @ButterBright @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/weaviate/ @iziang @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/yashandb/ @JesseAtSZ @shanshanying @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers

addons/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
addons-cluster/zookeeper/ @kubeJocker @kissycn @leon-inf @Y-Rookie @apecloud/kb-reviewers @apecloud/kb-addon-reviewers
